<td class="nukeIt" style="width: 50px">
    <div class="button-holder">
        <i class="fa fa-hashtag fa-3x" aria-hidden="true"></i>
    </div>
</td>
<td class="lineH">
    Basic Overview: Constants, Operators, Conditionals and Loops, Methods, Classes and so much more.
</td>
<td style="width: 140px">
    <div class="button-holder">
        <button type="button" class="btn spBtn-prime nukeIt" data-toggle="modal" data-target="#CSharp">
            C Sharp Certificate
        </button>
        <a href data-toggle="modal" style="font-size: medium" data-target="#CSharp" class="mobile">C-# Cert</a>
    </div>
</td>
