<td class="nukeIt" style="width: 50px">
    <i class="fa fa-css3 fa-3x" aria-hidden="true"></i>
</td>
<td class="lineH">
    Basic Overview: Rules and Selectors, Cascade and Inheritance, Text Styling, Properties and much more.
</td>
<td style="width: 140px">
    <div class="button-holder">
        <button type="button" class="btn spBtn-prime nukeIt" data-toggle="modal" data-target="#CSS">
            CSS Certificate
        </button>
        <a href data-toggle="modal" style="font-size: medium" data-target="#CSS" class="mobile">CSS Cert</a>
    </div>
</td>