<td class="nukeIt" style="width: 50px">
    <div class="button-holder">
        <i class="fa fa-html5 fa-3x" aria-hidden="true"></i>
    </div>
</td>
<td class="lineH">
    Basic Overview: Document structure, Elements, Attributes and Other Components.
</td>
<td style="width: 140px">
    <div class="button-holder">
        <button type="button" class="btn spBtn-prime nukeIt" data-toggle="modal" data-target="#HTML">
            HTML Certificate
        </button>
        <a href data-toggle="modal" style="font-size: medium" data-target="#HTML" class="mobile">HTML Cert</a>
    </div>
</td>
