<td class="nukeIt" style="width: 50px">
    <div class="button-holder">
        <i class="fa fa-code fa-3x" aria-hidden="true"></i>
    </div>
</td>
<td class="lineH">
    Basic Overview: Variables, Data Types, Operators, Loops and Statements, Parameters and much more.
</td>
<td style="width: 140px">
    <div class="button-holder">
        <button type="button" class="btn spBtn-prime nukeIt" data-toggle="modal" data-target="#JS">
            JS Certificate
        </button>
        <a href data-toggle="modal" style="font-size: medium" data-target="#JS" class="mobile">JS Cert</a>
    </div>
</td>
