<td class="nukeIt" style="width: 50px">
    <div class="button-holder">
        <i class="fa fa-database fa-3x" aria-hidden="true"></i>
    </div>
</td>
<td class="lineH">
    Basic Overview: Select Statements, Syntax Rules, Functions, Filtering and Joining Tables.
</td>
<td style="width: 140px">
    <div class="button-holder">
        <button type="button" class="btn spBtn-prime nukeIt" data-toggle="modal" data-target="#SQL">
            SQL Certificate
        </button>
        <a href data-toggle="modal" style="font-size: medium" data-target="#SQL" class="mobile">SQL Cert</a>
    </div>
</td>
