<div id="dropdown-csharp" class="panel-collapse collapse">
    <div class="panel-body">
        <ul class="nav navbar-nav">
            <li>
                <a href data-toggle="modal" data-target="#csharpCtrlModal">
                    Controller
                    <p class="help-block">(Home Controller)</p>
                </a>
            </li>
            <li>
                <a href data-toggle="modal" data-target="#csharpApiCtrlModal">
                    ApiController
                    <p class="help-block">(User API)</p>
                </a>
            </li>
            <li>
                <a href data-toggle="modal" data-target="#csharpDAOModal">
                    DAO
                    <p class="help-block">(User Data Access Object)</p>
                </a>
            </li>
            <li>
                <a href data-toggle="modal" data-target="#csharpServiceModal">
                    Service
                    <p class="help-block">(User Service)</p>
                </a>
            </li>
            <li>
                <a href data-toggle="modal" data-target="#csharpModelModal">
                    Model
                    <p class="help-block">(User Model)</p>
                </a>
            </li>
            <li>
                <a href data-toggle="modal" data-target="#csharpEntityModal">
                    Entity
                    <p class="help-block">(User Entity)</p>
                </a>
            </li>
            <li>
                <a href data-toggle="modal" data-target="#csharpMapperConfigModal">
                    MapperConfig
                    <p class="help-block">(User MapperConfig)</p>
                </a>
            </li>
            <li>
                <a href data-toggle="modal" data-target="#csharpDbContextModal">
                    DbContext
                    <p class="help-block">(User DbContext)</p>
                </a>
            </li>
            <li>
                <a href data-toggle="modal" data-target="#csharpUserLocatorModal">
                    Locator
                    <p class="help-block">(User Locator)</p>
                </a>
            </li>
        </ul>
    </div>
</div>