<div id="dropdown-sites" class="panel-collapse collapse">
    <div class="panel-body">
        <ul class="nav navbar-nav">
            <li class="" style="color: black">
                <a href="http://www.spire-web.com" target="_blank">
                    <i class="fa fa-globe"></i> Spire Web <i class="fa fa-external-link"></i>
                </a>
            </li>
            <li class="" style="color: black">
                <a href="http://www.rareupcycle.com" target="_blank">
                    <i class="fa fa-recycle"></i> Rare UpCycle <i class="fa fa-external-link"></i>
                </a>
            </li>
            <li class="" style="color: black">
                <a href="http://www.nlbcwalker.com" target="_blank"><i class="fa fa-bell">
                </i> New Life Baptist <i class="fa fa-external-link"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
